.createPostBTN {
    background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
    );
}

.createPostBTN {
    font-family: "Roboto", sans-serif;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.createPostBTN:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.colForm{
    padding-top: 70px;
}

.row{
    padding-top: 20px;
}

.colText{
    background-color: #AA84C7;
    border-radius: 25px;
    padding-left: 30px;
    padding-bottom: 30px;
    width: 70%;
}