body {
  background-image: url("https://github.com/adrianalbr/Atlanta-Fandom-Social/blob/main/client/src/assets-sort/background400.png?raw=true");
  background-color: rgb(171, 169, 169);
  background-blend-mode: overlay;
  background-repeat: repeat;
}

.containerOne {
  margin-top: -5%;
}

.formHeader {
  min-height: 60%;
  width: 50%;
}

#ourLogo {
  max-height: 12rem;
}

.formContainer {
  margin-top: 0% !important;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  border-radius: 8px;
}

#signUp {
  margin-left: 0rem;
  margin-top: 1.9rem;
}

#loginButton {
  margin-top: 2.4rem;
  margin-left: 9rem;
}

#loginAtag {
  color: white;
}

.submitButton {
  background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.submitButton:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}


@media screen and (max-width: 1420px){
  #loginButton{
    margin-top: 2.5rem;
    margin-left: 5rem
  }
}

@media screen and (max-width: 1220px){
  #loginButton{
    margin-top: 0.8rem;
    margin-left: 2rem
  }
}
/* ======================================================================  */
@media screen and (max-width: 812px){
  #loginButton{
    height: 4rem !important;
    margin-top: 0.8rem;
    margin-left: 2rem
  }

  #loginATag{
    font-size: 2px !important;
  }
}
/* ======================================================================  */
@media screen and (max-width: 704px){
  .formContainer{
    width: 90%;
  }
  #loginButton{
    margin-top: 2.5rem;
    margin-left: 4.5rem !important;
  }
}
/* ======================================================================  */
@media screen and (max-width: 703px){
  #loginButton{
    height: 4rem !important;
    margin-top:5.5rem;
    margin-left: 0.5rem
  }
  #loginAtag{
    padding-top: 0rem !important; 
    font-size: 13px !important
  }
  #ourLogo{
    max-height: 9rem;
  }
  .formContainer{
    width: 90% !important;
  }
}
/* ======================================================================  */
@media screen and (max-width: 641px){
  #loginButton{
    margin-top: 3.5rem;
    margin-left: 3.5rem !important;
  }
}
/* ======================================================================  */
@media screen and (max-width: 636px){
  #loginButton{
    margin-left: 3rem;
    height: 3.5rem !important;
    margin-top: 3.8rem;
  }

}
 /* ======================================================================  */
@media screen and (max-width: 635px){
/* #signInRedirect{
  display: none;
} */
#loginButton{
  height: 3.7rem !important;
  margin-top: 3.7rem;
  margin-left: 3.5rem
}
.formContainer{
  width: 90% !important;
}
}
 /* ======================================================================  */
@media screen and (max-width: 564px){
  #loginButton{
    margin-left: 2rem !important;
  }
}
 /* ======================================================================  */
@media screen and (max-width: 558px){
  #loginButton{
    height: 3.5rem !important;
    margin-top: 3.8rem;
    margin-left: 1.8rem
  }
}
 /* ======================================================================  */
@media screen and (max-width: 540px){

  .formContainer{
    width: 90% !important;
  }

  .formInput{
    width: 100% !important;
  }
}
 /* ======================================================================  */
 @media screen and (max-width: 517px){
   #loginButton{
     margin-left: 1rem !important;
   }
 }
 /* ======================================================================  */
 @media screen and (max-width: 511px){
  #loginAtag{
    font-size: 12px !important;
  }
 }
 /* ======================================================================  */
@media screen and (max-width: 474px){
  #loginAtag{
    font-size: 12px !important;
    text-align:center;
    margin-left: -2rem !important;
    padding-right: -1rem;
    padding-left: 1.4rem;
  }
  
  #loginButton{
    margin-left: 1.5rem !important;
  }
}
 /* ======================================================================  */
@media screen and (max-width: 471px){
  #loginAtag{
    margin-left: -3rem !important;
    padding-right: -1rem !important;
    padding-left: 2.3rem !important;
  }
}
/* ======================================================================  */
@media screen and (max-width: 467px){
  #loginAtag{
    margin-left: -4rem !important;
    padding-left: 3.2rem !important;
  }
}
/* ======================================================================  */
@media screen and (max-width: 464px){
  #loginAtag{
    margin-left: -5rem !important;
    padding-left: 4rem !important;
  }
}
/* ======================================================================  */
@media
/* ======================================================================  */
@media screen and (max-width: 375px){
  .formContainer{
    width: 100%
  }

  .formInput{
    width: 100% !important;
  }
  
  button{
    margin-left:  -13rem !important;
  }
}
/* ====================================================================== */
@media screen and (max-width: 280px){
  button{
    margin-left: -9.5rem !important;
  }
}
 /* ======================================================================  */
@media screen and (min-width: 2270px){
  #loginButton{
    margin-top: 2rem;
    margin-left: 12rem 
  }
  }
 /* ======================================================================  */
  @media screen and (min-width: 2560px){
    #loginButton{
      margin-top: 2.5rem;
      margin-left: 15rem 
    }
    }
/* ======================================================================  */
  @media screen and (min-width: 2621px){
    #loginButton{
      margin-top: 2.5rem;
      margin-left: 15rem 
    }
    }
/* ======================================================================  */

