/* .editPostBTN {
background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
); */
/* } */

.editPostBTN {
    font-family: "Roboto", sans-serif;
    background-color: #6e48aa !important;

}

.editPostBTN:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}