.formHeader {
  min-height: 60%;
  width: 50%;
  margin-top: 10%;
}

#login {
  margin-left: 0rem;
  margin-top: 1.9rem;
}

#ourLogo1 {
  max-height: 4rem;
}

#aTagLogin {
  color: white;
}

#signUpButton {
  background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
  );
  margin: 10px;
  height: 3.5rem !important;
  padding: 15px 40px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin-top: 1rem;
  margin-left: 9.5rem !important;
}

.formContainer {
  font-family: "Roboto", sans-serif;
  position: relative;
  margin: 8% auto;
  min-height: 60%;
  width: 50%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 0px 0px 5px 15px;
  box-sizing: border-box;
  border-radius: 8px;
}

.formInput {
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0px 0px 15px 20px;
  padding: 4px;
  width: 80%;
  height: 5%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-size: 12px;
}

.submitButton {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
  );
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: block;
}

.submitButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#account {
  margin-top: 0rem;
}
/* ================================================ */
@media screen and (max-width: 2559px){
  #signUpButton{
    transform: translate(26%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 2438px){
  #signUpButton{
    transform: translate(16.5%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 2366px){
  #signUpButton{
    transform: translate(14%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 2298px){
  #signUpButton{
    transform: translate(9%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 2224px){
  #signUpButton{
    transform: translate(5%, -4%);

  }
}
/* ================================================ */
@media screen and (min-width: 2186px) {
  #signUpButton {
    margin-top: 1rem;
    margin-left: 11rem !important;
    padding-left: 3rem;
  }
}
/* ================================================ */
@media screen and (max-width: 2185px){
  #signUpButton{
    transform: translate(16%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 2096px){
  #signUpButton{
    transform: translate(12%, -4%);

  }
}
/* ================================================ */
@media screen and (min-width: 2560px) {
  #signUpButton {
    margin-top: 1rem;
    margin-left: 14.5rem !important;
    padding-left: 3rem;
  }
}
/* ================================================ */
@media screen and (max-width: 1996px){
  #signUpButton{
    transform: translate(5%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 1939px){
  #signUpButton{
    transform: translate(2%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 1856px){
  #signUpButton{
    transform: translate(-3%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 1781px){
  #signUpButton{
    transform: translate(-11%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 1704px){
  #signUpButton{
    transform: translate(-15%, -4%);

  }
}
/* ================================================ */
@media screen and (max-width: 1632px){
  #signUpButton{
    transform: translate(-22%, -2%);

  }
}
/* ================================================ */
@media screen and (max-width: 1600px) {
  #signUpButton {
    margin-top: 1rem;
    margin-left: 9rem !important;
    padding-left: 3rem;
  }
}
/* ================================================ */
@media screen and (max-width: 1507px){
  #signUpButton{
    transform: translate(-25%, -2%);

  }
}
/* ================================================ */
@media screen and (max-width: 1451px){
  #signUpButton{
    transform: translate(-28%, -2%);

  }
}
/* ================================================ */
@media screen and (max-width: 1436px){
  #signUpButton{
    transform: translate(-29%, -2%);

  }
  #aTagLogin{
    font-size: 14px;
  }
}
/* ================================================ */
@media screen and (max-width: 1411px){
  #signUpButton{
    transform: translate(-32%, -2%);
    width: 12rem;
  }
  #aTagLogin{
    font-size: 13px;
  }
}
/* ================================================ */
@media screen and (max-width: 1359px){
  #signUpButton{
    transform: translate(-36%, -6%);

  }
}
/* ================================================ */
@media screen and (max-width: 1286px){
  #signUpButton{
    margin-top:0rem;
    margin-left: 7.9rem !important;
  }
}
/* ====================================================== */
@media screen and (max-width: 1216px){
  #signUpButton{
    margin-left: 7.5rem !important;
  }
}
/* ====================================================== */
@media screen and (max-width: 1153px) {
  #signUpButton {
    margin-top: 0rem;
    margin-left: 7.4rem !important;
    padding-left: 3rem;
  }
}
/* ================================================ */
@media screen and (max-width: 1099px){
  #signUpButton{
    margin-top: 0.5rem !important;
    margin-left: 6.6rem !important;
  }
} 
/* ====================================================== */
@media screen and (max-width: 1089px){
  #account{
    font-size: 19px !important;
  }

  #signUpButton{
    margin-top: 1.5rem !important;
    margin-left: 6.6rem !important;
  }

}
/* ================================================ */
@media screen and (max-width: 1009px){
  #account{
    font-size: 19px !important;
  }

  #signUpButton{
    margin-top: 1.5rem !important;
    margin-left: 6rem !important;
  }

}
/* ================================================ */
@media screen and (max-width: 995px){
  #signUpButton{
    margin-left: 5.8rem !important;
    margin-top: 1.6rem !important;
  }
}
/* ================================================ */
@media screen and (max-width: 991px){
  #signUpButton{
    margin-left: 6rem !important;
    margin-top: 1.6rem !important;
  }
  #aTagLogin{
    font-size: 12.5px !important;
  }
}
/* ================================================ */
@media screen and (max-width: 965px) {
  #signUpButton {
    margin-top: 1.5rem;
    margin-left: 2rem !important;
    padding-left: 3rem;
  }
  #account {
    font-size: 1.2rem !important;
  }
  #aTagLogin {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 894px) {
  #signUpButton {
    margin-top: 1.5rem;
    margin-left: 2.6rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #account {
    font-size: 1.2rem !important;
  }
  #aTagLogin {
    font-size: 0.8rem !important;
  }
}
/* ================================================ */
@media screen and (max-width: 844px){
  #signUpButton{
    margin-left: 2rem !important;
  }
}
/* ================================================ */
@media screen and (max-width: 823px) {
  #signUpButton {
    margin-top: 1.5rem;
    margin-left: 1.6rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #account {
    font-size: 1.2rem !important;
  }
  #aTagLogin {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 800px) {
  #signUpButton {
    margin-top: 1.4rem;
    margin-left: 1.6rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #account {
    font-size: 1rem !important;
  }
  #aTagLogin {
    font-size: 0.8rem !important;
  }
}
/* ========================================================= */
@media screen and (max-width: 704px){
  #signUpButton{
    transform: translate(42%, 2%);
    width: 45%;
  }

  #aTagLogin{

  }
}
/* ========================================================== */
@media screen and (max-width: 679px){
  #signUpButton{

  }
}
/* ========================================================== */
@media screen and (max-width: 767px) {
  #signUpButton {
    margin-top: 1.4rem;
    margin-left: 2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #account {
    font-size: 1rem !important;
  }
  #aTagLogin {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 679px) {
  #signUpButton {
    margin-top: 8rem;
    margin-left: -11.52rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #account {
    display: none;
  }
  #aTagLogin {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 500px) {
  #signUpButton {
    margin-top: 8rem;
    margin-left: -8.1rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #account {
    display: none;
  }
  #aTagLogin {
    font-size: 0.9rem !important;
  }
}

.alert {
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 1111;
}
.alert p {
  margin: 0;
}
.alert-error {
  background: lightcoral;
}
.alert-success {
  background: lightgreen;
}
.close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
