.titleHeaderContainer {

}

.formHeader {

}

.formContainer {

}

.formContentContainer {

}

.rightSide {

}

.formInput {

}

.submitButton {
    color: #7a44a4;
    margin: 10px 20px;
    width: 80%;
    height: 8%;
    border: none;
    border-radius: 19px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.leftSide {

}