.titleHeaderContainer {

}

.formHeader {

}

.formContainer {

}

.leftSide {

}

.formContentContainer {

}

.rightSide {

}

.formInput {

}

.submitButton {
    background-color: #7a44a4;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}