.events {
    background-color: #f1ecf1;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    margin-top: 25px;
    
}

.eventsTitle{
  font-style: italic;
  align-content: center;
  float: left;
  background-color: #f1ecf1;
  border-radius: 25px;
  
}

.eventImg{
  width: 50px;
  
}

 
    