

.nav-wrapper {
  background-color: #392171;
  /* display: flex; */
  justify-content: center;
}

.cloak{

  width: 50%;
  padding-top: 8px;

}

.cloakDiv{

  width: 100px;
  height: 60px
}

.nameDiv{
  margin: auto;
  padding-right: 100px;
  color: aquamarine;
}