/* delete BTN style */

.deleteBTN {
    background-image: linear-gradient(
    to right,
    #6a3093 0%,
    #a044ff 51%,
    #6a3093 100%
    );
}
.deleteBTN {
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.deleteBTN:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* edit button style */

.editBTN {
background-image: linear-gradient(
    to right,
    #6a3093 0%,
    #a044ff 51%,
    #6a3093 100%
);
}
.editBTN {
    margin: 10px;
    padding: 15px 35px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.editBTN:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.card{
    width: 40vw;
}

.cardImage{
    width: 100%;
}