.card {
    background-color: #aa84c7;
    /* width: 300px;
    height: 100px;
    padding-top: 40px; */
}

.card-content {
    background-color: #aa84c7;
}

/* .favoriteBTN {
    background-color: #7a44a4;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */

.favoriteBTN {
background-image: linear-gradient(
    to right,
    #9d50bb 0%,
    #6e48aa 51%,
    #9d50bb 100%
);
}

.favoriteBTN{
    font-family: "Roboto", sans-serif;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
}

.favoriteBTN:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}